body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8b0000;
  position: relative;
  z-index: 1;
}

.thtitle {
  font-size: 45px;
  margin: 20px 0;
  color: orange;
  text-align: center;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.coupon{
   width: 100%;
   margin: 30px auto;
}

#btn {
  display: inline-block;
  width: 200px;
  padding: 7px;
　font-size: 25px;
  font-weight: bold; 
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  cursor: pointer;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 0 #800000;
  color: black;
  margin-bottom: 40px;
}

#btn:hover {
  opacity: 0.8;
}