/*html{
  max-width: 1200px;
  margin: 0 auto;
}*/
body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8b0000;
  position: relative;
  z-index: 1;
}
.mainSite{
  position: relative;
  padding: 20px;

}
.titbox{
  width: 100%;
  margin: 0 auto;
}
.otbox{
  margin: 30px auto 0 auto;
  background-color: white;
  padding: 10px 20px 0 20px;
  border-radius: 20px;
  max-width: 1100px;
}
.titimg{
  width: 75%;
}
.title{
  margin: 0 auto;
  width: 75%;
}

.subtit {
  font-size: 27px;
  margin: 20px 0;
  color: black;
  text-align: center;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.row {
  margin-bottom: 15px;
}

.box {
  width: 200px;
  height: 200px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 150px;
  border-radius: 100px;
}

.box + .box {
  margin-left: 10px;
}

#box_0{background-image: url(../img/photo_0.jpg)}
#box_1{background-image: url(../img/photo_0.jpg)}
#box_2{background-image: url(../img/photo_0.jpg)}
#box_3{background-image: url(../img/photo_0.jpg)}
#box_4{background-image: url(../img/photo_0.jpg)}

.bbox{
  width: 200px;
  display: inline-block;
  margin: 5px;
}

.btxt{
  font-size: 18px;
}
.selected {
  opacity: 1.0;
}

#btn {
  display: inline-block;
  width: 300px;
  padding: 7px;
　font-size: 25px;
  font-weight: bold; 
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  cursor: pointer;
  border-radius: 5px;
  background: #8b0000;
  box-shadow: 0 4px 0 #800000;
  color: #fff;
  margin-bottom: 40px;
}

#btn:hover {
  opacity: 0.8;
}

.otbox2{
  max-width: 900px;
  margin: 0 auto;
}

.txtbox{
  max-width: 300px;
}

.txt{
  font-size: 18px;
  color: white;
  text-align: left;
}
.title2{
  font-size: 35px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  color: white;
}

.error {
  background: white;
  padding: 7px;
  color: #8b0000;
}

@media screen and (max-width: 500px){
body{
  padding: 10px;
}
.otbox{
  margin: 10px auto 0 auto;
}
.subtit{
  font-size: 18px;
  margin: 30px auto;
  text-align: left;
  display: inline-block;
}
.box{
  width: 210px;
  height: 210px;
  border-radius:110px;
}
.titimg{
  width: 100%;
}
.title{
  margin: 0 auto;
  width: 100%;
}
#btn{
width: 80%;
}
}